body {
    background-color: darkslategrey;
    margin: 0 auto;
}

main {
    padding: 20px;
}

.navbar-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    padding: 1rem;
    background-color: palegreen;
    font-family: cursive;
}

#card-container {
    margin: 20px auto;
}

.cards {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    height: 100%;
}