body{
    background-color: steelblue;
    margin: 0 atuo;
}

main {
    padding: 50px 20px;
}

.navbar-heading{
    display: flex;
    align-items: center;
    border-radius: 9999px;
    padding: 1rem;
    background-color: palegreen;
    font-size: 4rem;
    font-family: cursive;
}

#card-container{
    max-width: 1160px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    row-gap: 30px;
}

.cards{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
    height: 100%;
}